* {
    margin: 0;
    padding: 0;
}

.container {
width: 100%;
height: 130px;
background-image: linear-gradient(rgb(236, 76, 223),rgb(19, 17, 17)),url(./img/fondoviol.jpg);
background-size: cover;
background-position: left;
background-repeat: no-repeat;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.logo {
    width: 130px;
    cursor: pointer;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 20px ;
        position: relative;
     }

     .navbar ul li a {
        text-decoration: none;
        color: white;
        font-family : roboto,"sans-serif"; 
        font-size: 25px;
    
    }

    .navbar ul li::before {
        content: "";
        height:3px;
        width:100%;
        background: White;
        position: absolute;
        left: 0;
        bottom: -12px;
        transition: 0,4s ease-out;
    }
     